.node-button {
  background-color: transparent;
  appearance: none;
  border: 0;
  margin: 0;
  padding: 0;
  cursor: pointer;
  position: relative;
  font: inherit;
  display: inline-flex;
  align-items: center;
}

.node-button-icon {
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  margin-right: 4px;
}
